# Visual Studio / .NET
.vs/
bin/
obj/
*.user
*.suo
*.pdb
*.cache
*.log
*.ide
*.DS_Store
*.sln.docstates
_ReSharper*/

# Rider IDE
.idea/

# NuGet packages
*.nupkg
packages/

# Build results
*.dll
*.exe
*.app
*.lib
*.so
*.dylib

# Test result folders
TestResults/

# Rider / VS Code
.vscode/